{
  "SaveName": "stevenyjc的世界",
  "WorldName": "615680",
  "GameModeIdx": 0,
  "GameVersion": 1018000,
  "IsHost": true,
  "HostID": 744074020,
  "GameType": 9,
  "LanGameStartServerTime": 1722005452,
  "RoomName": "stevenyjc的世界",
  "RoomType": 1,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": true,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1722070667,
  "TotalPlayTime": 20582,
  "UpdateTime": 1722059524,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "E:\\MCLDownload\\Game\\yd.0e014f33440d4a8a8@163.com\\LanGameHost\\stevenyjc的世界",
  "GUID": "LanGame-94858b3f-5b04-4047-b968-25eac95b437e",
  "WorldId": null,
  "RecentRoleID": "4673217918439742364",
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "76026855953531904"
    },
    {
      "ID": "4647666377528809658"
    },
    {
      "ID": "4655919777276607938"
    },
    {
      "ID": "4659125222121053922"
    },
    {
      "ID": "4625458042053394693"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [
    {
      "ID": "4625458042053394693"
    }
  ],
  "RoleList": [
    {
      "avv": false,
      "Name": "stevenyjc",
      "CreatedTimeStamp": 1722005450,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 17,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": [],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}