{
  "SaveName": "快乐老家",
  "WorldName": "319230",
  "GameModeIdx": 0,
  "GameVersion": 1018000,
  "IsHost": true,
  "HostID": 744074020,
  "GameType": 9,
  "LanGameStartServerTime": 1721830918,
  "RoomName": "快乐老家",
  "RoomType": 1,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": true,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1722004770,
  "TotalPlayTime": 33791,
  "UpdateTime": 1722003939,
  "AllowCheat": true,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "E:\\MCLDownload\\Game\\yd.0e014f33440d4a8a8@163.com\\LanGameHost\\快乐老家",
  "GUID": "LanGame-01dbcd87-f033-4738-98f7-7f810335ab9d",
  "WorldId": null,
  "RecentRoleID": "4673217918439742364",
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "76026855953531904"
    },
    {
      "ID": "4647666377528809658"
    },
    {
      "ID": "4659125222121053922"
    },
    {
      "ID": "4625458042053394693"
    },
    {
      "ID": "4655919777276607938"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [
    {
      "ID": "4625458042053394693"
    }
  ],
  "RoleList": [
    {
      "avv": false,
      "Name": "stevenyjc",
      "CreatedTimeStamp": 1721830885,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 17,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": [
    0,
    2
  ],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}